<h2>Update Bleet</h2>

<form>
 <input value="BleetEditViewModel.Bleet.title" data-ng-model="BleetEditViewModel.bleet.title" />
 <input value="BleetEditViewModel.Bleet.authorName" data-ng-model="BleetEditViewModel.bleet.authorName" />
 <input value="BleetEditViewModel.Bleet.photoUrl" data-ng-model="BleetEditViewModel.bleet.photoUrl" />
 <textarea value="BleetEditViewModel.bleet.content" data-ng-model="BleetEditViewModel.bleet.content"></textarea>
 <button type="button" data-ng-click="BleetEditViewModel.update()">Update</button>
</form>
